<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Nota</title>
  <link rel="stylesheet" href="/static/css/cadastrar_nota.css">
  <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
</head>
<body>

  <header class="cabecalho">
    <nav class="cabecalho__menu">
        <button class="menu-toggle" aria-label="Toggle menu">
            ☰
        </button>
        <div class="menu-links">
          <a class="cabecalho__menu__link" href="login">Login</a>
          <a class="cabecalho__menu__link" href="cadastro_nota">Cadastrar Nota</a>
          <a class="cabecalho__menu__link" href="consultar balanço">Consultar Balanço</a>
          <a class="cabecalho__menu__link" href="solicitar relatório">Solicitar Relatório </a>
        </div>
    </nav>
  </header>

  <div class="tela-cadastrar nota">
    <h1 id="titulo">Cadastrar Nota</h1>

    <form>
        <fieldset class="grupo">

    <div class="campo">
        <label for="nome"><strong>NOME</strong></label>
        <input type="text" nome="nome" id="nome" required>
    </div>
   
    <div class="campo">
        <label for="sobrenome"><strong>SOBRENOME</strong></label>
        <input type="text" nome="sobrenome" id="sobrenome" required>
    </div>
     </fieldset>

     <div class="campo">
        <label for="cpf"><strong>CPF</strong></label>
        <input type="number" nome="cpf" id="cpf" required>
    </div>


    <div class="campo">
        <label for="rg"><strong>GR</strong></label>
        <input type="number" nome="rg" id="rg" required>
    </div>

    <div class="campo">
        <label for="estado"><strong>ESTADO DE SAO PAULO</strong></label>
        <select id="estado">
            <option selected disabled value="Selecione"></option>
            <option>zona norte</option>
            <option>zona oeste</option>
            <option>zona sul</option>
            <option>zona leste</option>

        </select>
    </div>

    <div class="campo">
        <label for="cep"><strong>CEP</strong></label>
        <input type="number" nome="cep" id="cep" required>
    </div>

    <div class="campo">
        <label for="bairro"><strong>BAIRRO</strong></label>
        <input type="text" nome="bairro" id="bairro" required>
    </div>


    
    <div class="campo">
        <label for="rua"><strong>RUA</strong></label>
        <input type="text" nome="rua" id="rua" required>
    </div>
      
    <div class="campo">
        <label for="numero"><strong>NUMERO</strong></label>
        <input type="number" nome="numero" id="numero" required>
    </div>

    <div class="campo">
        <label for="complemento"><strong>COMPLEMENTO</strong></label>
        <input type="text" nome="complemento" id="complemento" required>
    </div>

    <button>Cadastrar</button>
    </form>


  <script src="./static/script/funcoes.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.querySelector('.menu-toggle');
        const menuLinks = document.querySelector('.menu-links');

        menuToggle.addEventListener('click', function() {
            menuLinks.classList.toggle('active');
        });
    });
</script>
</body>
</html>
  