<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Nota</title>
  <link rel="stylesheet" href="/static/css/cadastro_nota.css">
  <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
</head>
<body>

  <header class="cabecalho">
    <nav class="cabecalho__menu">
        <button class="menu-toggle" aria-label="Toggle menu">
            ☰
        </button>
        <div class="menu-links">
          <a class="cabecalho__menu__link" href="login">Login</a>
          <a class="cabecalho__menu__link" href="cadastro_nota">Cadastrar Nota</a>
          <a class="cabecalho__menu__link" href="cadastro_usuario">Cadastrar Usuario</a>
          <a class="cabecalho__menu__link" href="consultar balanço">Consultar Balanço</a>
          <a class="cabecalho__menu__link" href="solicitar relatório">Solicitar Relatório </a>
        </div>
    </nav>
  

  
    <div class="container">
      <div class="form-image">
        <img src="/static/img/freelance-sucesso-financeiro-investimento-conceito-de-negocios-com-personagem-minusculo-freelancer-de-sucesso-trabalhando-e-ganhando-dinheiro-no-computador-em-casa-plana-metafora-de-renda-online_269730-441-1.jpg" alt="">
      </div>

      <div class="form">
        <form action="#">
            <div class="form-header">
              <div class="title">
                <h1>cadastrar nota</h1>
              </div> 
            </div>

            <div class="input-group">
              <div class="input-box">
                  <label for="numero">Numero da Nota </label>
                  <input id="numero" type="number" nome="numero" placeholder="" required> 
              </div> 

                <div class="input-box">
                  <label for="numero">Data e Hora de Emissão</label>
                  <input id="numero" type="number" nome="numero" placeholder="" required> 
                </div> 

                
                    <div class="input-box">
                      <label for="codigo">Código de Verificação</label>
                      <input id="codigo" type="text" nome="codigo" placeholder="" required> 
                    </div>

            
                    <div class="form-header">
                      <div class="title">
                <h2>Prestador de Servicos</h2>
            </div> 
          </div>

                <div class="input-box">
                  <label for="numero">CPF/CNPJ</label>
                  <input id="numero" type="number" nome="numero" placeholder="" required> 
                </div>

                <div class="input-box">
                    <label for="numero">Inscrição Municipal</label>
                    <input id="numero" type="number" nome="numero" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="nome">Nome/Razao Social</label>
                    <input id="nome" type="text" nome="nome" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="nome, numero">Endereço/Número/Cep</label>
                    <input id="nome, numero" type="text, number" nome="nome, numero" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="nome">Municipio/UF</label>
                    <input id="nome" type="text" nome="nome" placeholder="" required> 
                  </div>

                 
                <div class="title">
                    <h2>Tomador de Serviços</h2>
                </div>
            

                <div class="input-box">
                    <label for="nome">Nome/Razão Social</label>
                    <input id="nome" type="text" nome="nome" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="numero">CPF/CNPJ</label>
                    <input id="numero" type="number" nome="numero" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="numero">Inscrição Municipal</label>
                    <input id="numero" type="number" nome="numero" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="nome, numero">Endereço/Número/Cep</label>
                    <input id="nome, numero" type="text, number" nome="nome, numero" placeholder=" " required> 
                  </div>

                  
                  <div class="input-box">
                    <label for="nome">Município/UF</label>
                    <input id="nome" type="text" nome="nome" placeholder="" required> 
                  </div>

                  <div class="input-box">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" nome="email" placeholder="" required> 
                  </div>

                  
                 
                <div class="title">
                    <h2>Intermediario de Servicos</h2>
                  </div>
             
                <div class="input-box">
                    <label for="numero">CPF/CNPJ</label>
                    <input id="nome" type="text" nome="nome" placeholder="--" required>
                  </div>
                

                  <div class="input-box">
                    <label for="nome">Nome/Razao Social</label>
                    <input id="nome" type="text" nome="nome" placeholder="--" required>
                  </div>


                  <div class="title">
                    <h2>Discriminação dos Servicos</h2>
                  
                  <br>
                  <textarea row="6" style="width:26rem" id="discriminacao" name="discriminacao">
                  </textarea>
                </div>
            
                <div class="title">
                  <h2>Valor Total do Servico</h2>
    
              <div class="input-box">
                <label for="nome">INSS(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="--" required>
              </div>
            </div>

              <div class="input-box">
                <label for="nome">IRRF(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="--" required>
              </div>

              <div class="input-box">
                <label for="nome">CSLL(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="--" required>
              </div>

              
              <div class="input-box">
                <label for="nome">CONFINS(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">PIS/PASEP(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Código do Serviço</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Valor Total dos Deduções(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Base de Cálculo(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Alíquota(%)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Valor do ISS(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Crédito(R$)</label>
                <input id="nome" type="text" nome="nome" placeholder="" required> 
              </div>

              <div class="input-box">
                <label for="nome">Número da Prestação do Serviço</label>
                <input id="nome" type="text" nome="nome" placeholder="--" required>
              </div>

              <div class="input-box">
                <label for="nome">Número Inscrição da Obra</label>
                <input id="nome" type="text" nome="nome" placeholder="--" required>
              </div>

              
              <div class="input-box">
                <label for="nome">Valor Aproximação dos Tributos/Fonte</label>
                <input id="nome" type="text" nome="nome" placeholder="--" required>
              </div>

              
              <div class="title">
                <h2>Outras Informações</h2>
              <div>
                <br>
                <textarea row="6" style="width:26rem" id="discriminacao" name="discriminacao">
                </textarea>
              </div>
            </div>

            </div>
            </div> 

            <div class="continue-button"></div>
            <button><a href="#"></a>Cadastrar</button>
            </form>
        </div>
        </div>
        
    </header>

  <script src="./static/script/funcoes.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.querySelector('.menu-toggle');
        const menuLinks = document.querySelector('.menu-links');

        menuToggle.addEventListener('click', function() {
            menuLinks.classList.toggle('active');
        });
    });
</script>
</body>
</html>
  