<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
    
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <button class="menu-toggle" aria-label="Toggle menu">
                ☰
            </button>
            <div class="menu-links">
                <a class="cabecalho__menu__link" href="login">Login</a>
                <a class="cabecalho__menu__link" href="cadastrar_nota">Cadastrar Nota</a>
                <a class="cabecalho__menu__link" href="consultar balanço">Consultar Balanço</a>
                <a class="cabecalho__menu__link" href="solicitar relatório">Solicitar Relatório </a>
               
            </div>
        </nav>
    </header>
    <div class="">
        <main class="form-container">


            <form
              action="submit_login"
              method="POST"
              data-form>
              
                <h1 class="titulo-login">Login</h1>
                <div class="">
    
                  <input type="email" class="" id="email" placeholder="Seu email" name="email">
                   
                </div>
                <div class="form-floating">
                    <input type="password" class="" id="senha" placeholder="Senha" name="senha">
                   
                </div>
                <button class="">Enviar</button>
              
    
            </form>
            
            
        </main>
    </div>

    <div class="container__imagem">
        <img class="vetorPessoas" src="/static/img/pngtree-2-5d-stereoscopic-business-financial-png-image_505617(1).jpg" alt="pessoas" style="z-index:-5">
        
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const menuLinks = document.querySelector('.menu-links');

            menuToggle.addEventListener('click', function() {
                menuLinks.classList.toggle('active');
            });
        });
    </script>
</body>
</html>