<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
    
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <button class="menu-toggle" aria-label="Toggle menu">
                ☰
            </button>
            <div class="menu-links">
                <a class="cabecalho__menu__link" href="login">Login</a>
                <a class="cabecalho__menu__link" href="cadastro_usuario">Cadastrar Usuario</a>
                <a class="cabecalho__menu__link" href="cadastro_nota">Cadastrar Nota</a>
                <a class="cabecalho__menu__link" href="consulta_balanco">Consultar Balanço</a>
                <a class="cabecalho__menu__link" href="solicitar relatório">Solicitar Relatório </a>
               
            </div>
        </nav>
    </header>

    <div class="conteudo-cadastro">
        <div class="box">
            <div class="img-box">
                 <img src="/static/img/images financeiro.jpg" alt="">
     
             </div>
             <div class="form-box">
                 <form action="/submit_login" method="post">
                     <div class="input-group">

                        <h1 class="titulo-login">Login</h1>
                         
     
                     <div class="input-group">
                         <label for="email">Email</label>
                         <input type="email" id="email" name="email"placeholder="" required> 
                     </div>

                     <div class="input-group w50">
                         <label for="senha">Senha</label>
                         <input type="password" id="senha" name="senha" placeholder="" required> 
                     </div>
     
                
                     <div class="input-group">
                     <input type="submit" value="Enviar">
                   </div>
                     
                 </form>
             </div>
    
         </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const menuLinks = document.querySelector('.menu-links');

            menuToggle.addEventListener('click', function() {
                menuLinks.classList.toggle('active');
            });
        });
    </script>
</body>
</html>