<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Nota</title>
  <link rel="stylesheet" href="/static/css/nota_cadastrada.css">
  <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
</head>
<body>

  <header class="cabecalho">
    <nav class="cabecalho__menu">
        <button class="menu-toggle" aria-label="Toggle menu">
            ☰
        </button>
        <div class="menu-links">
          <a class="cabecalho__menu__link" href="login">Login</a>
          <a class="cabecalho__menu__link" href="cadastro_usuario">Cadastrar Usuario</a>
          <a class="cabecalho__menu__link" href="cadastro_nota">Cadastrar Nota</a>
          <a class="cabecalho__menu__link" href="consulta_balanco">Consultar Balanço</a>
          <a class="cabecalho__menu__link" href="/#" onClick="solicitarRelatorio(event)">Solicitar Relatório </a>

        </div>
    </nav>
  
    <div class="container">
      <div class="aviso-container">
        <p>Nota cadastada com sucesso</p>
        <a href="/cadastro_nota">Cadastrar nova Nota</a>
        <a href="/consultar_balanco">Consultar Balanço</a>
      </div>
    </div>
    </header>

  <script src="./static/script/funcoes.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.querySelector('.menu-toggle');
        const menuLinks = document.querySelector('.menu-links');

        menuToggle.addEventListener('click', function() {
            menuLinks.classList.toggle('active');
        });
    });

</script>
</body>
</html>
  